<div class="card p-3 mb-4">
    <h5>Add Public Holiday</h5>
    <input type="date" id="holidayDate" class="form-control mb-2" />
    
    <small class="text-danger d-none" id="dateError">Date is required.</small>
    <input type="text" id="holidayDescription" class="form-control mb-2" />
    <small class="text-danger d-none" id="holidayDescriptionError">Description is required.</small>
    <button class="btn btn-primary" id="addHoliday" onclick="addDate()">Add Holiday</button>
</div>