<div class="card p-3">
    <h5>Calculate Working Days</h5>
    <label>Start Date:</label>
    <input type="date" id="startDate" class="form-control mb-2" />
    <small class="text-danger d-none" id="startDateError">Start Date is required.</small>
    <label>End Date:</label>
    <input type="date" id="endDate" class="form-control mb-2" />
    <small class="text-danger d-none" id="endDateError">End Date is required.</small>
    <button class="btn btn-success" id="calculateDays" onclick="CalculateDays()">Calculate</button>
    <h5 class="mt-3">Total Working Days</h5>
</div>